@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto+Flex:opsz,wght@8..144,200&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
}

/* double-check if sans-serif is set correctly as default*/
body {
    font-family: 'Indie Flower', cursive, sans-serif;
    background-color: #20b2aa
    ;
}

#header,
h2,
#rules,
h3 {
    text-align: center;
}

#header {
    font-size: 50px;
    height: 200px;
}

#rules {
    padding-top: 20px;
}

h3 {
    padding: 20px 0 20px 0;
}

#game-choices {
    display: flex;
    justify-content: space-evenly;
}

img {
    height: 200px;
}

button {
    cursor: pointer;
    border-radius: 50%;
}

#display-choices {
    padding-top: 50px;
    font-size: 30px;
}

#result {
    font-size: 50px;
}

#social-media {
    font-size: 30px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    user-select: none;
}